<p-panel header="Basic Numeric Pipes" class="p-1">
    <p>
        Pipes included in Angular -- Usually in Common Module
    </p>
</p-panel>

<div class="grid">

    <div class="col-12 md:col-4">
        <p-card header="Net Sales" subheader="Current Year">
            {{ totalSells + 1235 | number:'1.2-2' }}
        </p-card>
    </div>
    <div class="col-12 md:col-4">
        <p-card header="Net" subheader="Current Year">
            {{ totalSells | currency:'BOL' }}
        </p-card>
    </div>
    <div class="col-12 md:col-4">
        <p-card header="Profit percentage" subheader="Current Year">
            {{ percent | percent:'1.2-2' }}
        </p-card>
    </div>

</div>